In [3]:
import pandas as pd

In [4]:
name_list = ["wajid","hassania","omar"]
age_list = [44,35,1]

In [6]:

# create a name panda Series and age panda Series 
name = pd.Series(name_list)
age = pd.Series(age_list)

In [7]:
name

0       wajid
1    hassania
2        omar
dtype: object

In [9]:
age

0    44
1    35
2     1
dtype: int64

In [18]:
name.values

array(['wajid', 'hassania', 'omar'], dtype=object)

In [19]:
name.index

RangeIndex(start=0, stop=3, step=1)

In [22]:
name = pd.Series(name_list, index=['father','mother','son'])
name

father       wajid
mother    hassania
son           omar
dtype: object

In [26]:
name['father']

'wajid'

In [27]:
age = pd.Series(age_list,index=['father','mother','son'])
age

father    44
mother    35
son        1
dtype: int64

In [29]:
family_df = pd.DataFrame({ 'name': name, 'age':age})
df

          0
0     wajid
1  hassania
2      omar

In [30]:
family_df

            name  age
father     wajid   44
mother  hassania   35
son         omar    1

In [3]:
fam_dic = {'name': ['Omar','hassania','wajid'], 'age': [1,35,44]}
import pandas as pd
family_df_1 = pd.DataFrame(fam_dic)

In [6]:
family_df_1

       name  age
0      Omar    1
1  hassania   35
2     wajid   44

In [8]:
family_df_1.index = ["son","mother","father"]

In [11]:
family_df_1

            name  age
son         Omar    1
mother  hassania   35
father     wajid   44

In [31]:
family_df_1.name.iloc[1]

'hassania'

In [34]:
family_df_1.loc['mother':'father']

            name  age
mother  hassania   35
father     wajid   44

In [39]:
family_df_1.loc['mother':'father', ['name','age']] # select the rows from mother to father inclusive and select only name

pandas.core.frame.DataFrame